@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<nav class="navbar">
    <div class="navbar-left">
        <a asp-page="/Index">
            <img src="/img/logo.png" alt="Logo Obsidian" class="logo" />
        </a>
    </div>

    <div class="navbar-center">
        <select class="user-select">
            <option>User</option>
            <option>Product</option>
        </select>
        <div class="search-container"></div>
        <input type="text" placeholder="rechercher un.e membre" class="search-box" />
        <button type="submit" class="search-btn">
            <i class="fa-solid fa-magnifying-glass" style="color: #000000;"></i>
        </button>
    </div>

    </div>

    <div class="navbar-right">
        @if (HttpContextAccessor.HttpContext.User.Identity?.IsAuthenticated ?? false)
        {
            <form method="post" asp-page="/Logout" asp-route-returnUrl="@Context.Request.Path" style="display:inline;">
                <button type="submit" class="btn">Déconnexion</button>
            </form>

            <a asp-page="/ShoppingItem" class="btn">Panier 🛒</a>
        }
        else
        {
            <a asp-page="/login" class="btn">Connexion</a>
            <a asp-page="/register" class="btn">Inscription</a>
        }
    </div>
</nav>